

.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

/* Shared Style */
.btn-primary {
    background-color: #FD6E0A;
    padding: 18px 35px 19px 36px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    border: none;
}
.secondary-bg {
    background-color: #FFF8F3;
}
.text-center {
    text-align: center;
}

.section-title {
    font-weight: bold;
    color: #181818;
    font-size: 35px;
}

.section-description {
    font-size: 18px;
    color: #757575;
}

.text-primary {
    color: #FD6E0A;
}

.dark-2 {
    color: #474747;
}

.dark-3 {
    color: #757575;
}
header {
    background-image: url(../images/developer.png), url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left , bottom right;
}


/* NAV STYLE    */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 200px;

}



.nav-title {
    font-weight: 800;
    font-size: 45px;    
}
nav ul {
    display: flex;
    align-items: center;
}

nav ul li {
    list-style: none;
    margin-right: 50px;
    
}

nav ul a {
    text-decoration: none;
}

/* BANNER STYLE */
.banner {
    display: flex;
    justify-content: space-between;
    width: `;
}

.banner-content {
    margin: 100px 39px 0 200px;
}

.banner-greetings {
    font-size: 45px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.banner-title {
    font-size: 85px;
    font-weight: bold;
    margin-bottom: 5px;
    padding: 0;
}

.banner-description {
    font-size: 18px;
    color: #474747;
    width: 585px;
    margin-bottom: 30px;

}

.banner-profile-pic {
    width: 580px;
}

/* main style */
main {
    max-width: 1140px;
    margin: 0 auto;
    
}

main section {
    margin-top: 130px;
    margin-bottom: 130px;
}

/* About style */
.about {
    border-radius: 10px;
    padding: 130px 150px;
    text-align: center;
    margin-top: 130px;
}

.item-title {
    font-size: 20px;
    color: #757575;
}

.about-items {
    display: flex;
    justify-content: space-around;

}

.item-description {
    font-size: 20px;
    font-weight: bold;
}

/* Skill-container-style---------- */

.skills-container {
    display: flex;
    gap: 20px;
}

.skill {
    padding: 30px;
box-shadow: 0 6px 50px 0 rgba(0, 0, 0, 0.06);
}


/* resume-----style */

.resume-container {
    display: flex;
    gap: 25px;
}

.resume-column-title {
    color: #474747;
    font-size: 30px;
    font-weight: bold;
}

.experience .experience-title {
    font-size: 25px;
    font-weight: bold;
    color: #474747;
}

.experience .experience-sub-title {
    font-size: 20px;
    font-weight: 400;
}

.resume-download-btn {
    text-align: center;
    margin-top: 50px;

}
    /* footer style--------- */


footer {
    padding: 130px 230px;
    display: flex;
    gap: 100px;
}
.footer-column {
    width: 50%;
}

footer input[type="text"], footer input[type=email] {
    height: 64px;
    border-radius: 5px;
    background-color: white;
    display: block;
    width: 100%;
    padding: 15px 0px;
    font-size: 20px;
    margin: 24px;
    border: none;
}

footer textarea {
    padding: 18px 0px;
    width: 100%;
    margin: 24px;
    font-size: 20px;
}

footer input[value="submit"] {
    margin: 24px;
}